/* 카드 리스트: 한 행에 4장 */
.author-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; /* 카드 사이 간격 */
}

/* 카드 아바타 사이즈 고정 */
.author-card .avatar {
    width: 100px;
    height: 100px;
    flex: 0 0 100px;
}

.author-card .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
